* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: 'Open Sans', system-ui, sans-serif;
    box-sizing: border-box;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    border-width: 0;
  }
.wrapper {
  .header {
    width: 100%;
    height: 100px;
    background: #0a121f;

    .header__container {
      max-width: 1146px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__container__left-block {
        display: flex;
        justify-content: space-between;

        .header__container__left-block__logo-and-title {
          display: flex;
          align-items: center;
          margin-right: 84px;

          .header__container__left-block__logo-and-title__logo {
            margin-right: 15px;
          }
          .header__container__left-block__logo-and-title__header-title {

            h4 {
              font-weight: 600;
              font-size: 22.5455px;
              line-height: 31px;
              color: #3A68B8;
            }
          }
          }
        .header__container__left-block__nav-bar {
          display: flex;
          align-items: center;

          .header__container__left-block__nav-bar__item {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            cursor: pointer;
            margin-right: 40px;

            &:hover {
              color: #c2c2c2;
            }

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
      .header__container__right-block {
      }
    }
  }

  .home {
    width: 100%;
    background: #09111f;
    padding-top: 50px;
    padding-bottom: 100px;

    .home__container {
      max-width: 1350px;
      margin: 0 auto;

      .home__container__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;

        .home__container__left-block {
          display: flex;
          align-items: center;
          margin-right: 114px;

          .home__container__left-block__main {

            .home__container__left-block__main__mini-title {
              margin-bottom: 10px;

              h5 {
                font-weight: 600;
                font-size: 18px;
                line-height: 160%;
                text-transform: uppercase;
                color: #3A68B8;
              }
            }
            .home__container__left-block__main__title {
              margin-bottom: 40px;

              h1 {
                font-style: normal;
                font-weight: 800;
                font-size: 55px;
                line-height: 130%;
                color: #FFFFFF;
              }
            }
            .home__container__left-block__main__text {
              font-weight: 600;
              font-size: 18px;
              line-height: 160%;
              color: #FFFFFF;
              opacity: 0.7;
              max-width: 558px;
              margin-bottom: 50px;
            }
            .home__container__left-block__main__buttons {
              display: flex;

              button {
                &:first-of-type {
                  margin-right: 20px;
                }
              }
            }
          }
        }
        .home__container__right_block {
        }
      }

      .home__container__logotype-block {
          .home__container__logotype-block__logotype-container {
            display: flex;
            img {
              margin-right: 70px;

              &:last-of-type {
                margin-right: 0;
              }
            }
          }
      }
    }
  }

  .about {
    width: 100%;
    background: #020a18;
    padding-top: 130px;
    padding-bottom: 70px;

    .about__container {
      max-width: 1277px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .about__container__left-block {
      }
      .about__container__right-block {
        display: flex;
        align-items: center;
        margin-left: 68px;
        .about__container__right-block__main {
        }
        .about__container__right-block__main__title {
          margin-bottom: 30px;
          h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;
            color: #FFFFFF;
          }
        }
        .about__container__right-block__main__text {
          font-weight: 600;
          font-size: 16px;
          line-height: 160%;
          color: #FFFFFF;
          opacity: 0.7;
          max-width: 460px;
          margin-bottom: 50px;
        }
        .about__container__right-block__main__button {
        }
      }
    }
  }

  .services {
    width: 100%;
    background: #020a18;
    padding-top: 100px;
    .swiper {
      max-width: 1870px;
      margin: 0 auto;
      padding-bottom: 65px;
      .swiper-wrapper {
        .swiper-slide {
          max-width: 362px;
          min-width: 250px;
          height: 100%;
          background: #101725;
          border-radius: 10px;

          .swiper-slide__image {
            width: 100%;
            height: 163px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .swiper-slide__title {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 30px;

            h4 {
              font-weight: 700;
              font-size: 25px;
              line-height: 125%;
              text-align: center;
              color: #FFFFFF;
              opacity: 0.7;
            }
          }

          .swiper-slide__text {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;

            p {
              font-weight: 600;
              font-size: 16px;
              line-height: 160%;
              text-align: center;
              color: #FFFFFF;
              opacity: 0.7;
            }
          }
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #2C3647;
          opacity: 0.5;
        }

        .swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background: #3A68B8;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    background: #3a68b89d;
  }
}

.btn_authorizations {
  width: 112px;
  height: 52px;
  font-size: 16px;
  line-height: 22px;
}
.btn_get-started {
  font-size: 20px;
  line-height: 27px;
  width: 171px;
  height: 57px;
}
.btn_watch-video {
  font-size: 20px;
  line-height: 27px;
  width: 217px;
  height: 57px;

  svg {
    margin-right: 10px;
  }
}
.btn_about {
  font-size: 16px;
  line-height: 22px;
  width: 150px;
  height: 52px;
}