@import './blocks/header.scss';
@import './blocks/home.scss';
@import './blocks/about.scss';
@import './blocks/services.scss';
@import './blocks/blog.scss';
@import './blocks/contact.scss';
@import './button/btn.scss';

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: 'Open Sans', system-ui, sans-serif;
    box-sizing: border-box;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    border-width: 0;
  }